<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="backTolist()" >
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TODO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <app-new-todo></app-new-todo>
    </header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://twitter.com/nicobytes">Nicolas Molina</a></p>
    <p>Edited by <a href="https://github.com/pengkobe">pengkobe</a></p>
    <p>
      Using <a href="https://angular.io/">Angular</a> and
      <a href="https://ngrx.github.io/">ngrx/store</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</ion-content>
