<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME.Home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>{{ 'HOME.List' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="test">
      <ion-icon name="hammer"></ion-icon>
      <ion-label>{{ 'HOME.Test' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>