<ion-tabs>
  <ion-tab label="{{'HOME.Home' | translate}}" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="{{'HOME.List' | translate}}" icon="information-circle" href="/tabs/(list:list)">
    <ion-router-outlet name="list"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="{{'HOME.Test' | translate}}" icon="hammer" href="/tabs/(test:test)">
    <ion-router-outlet name="test"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
