<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'HOME.Home' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h3 class="home-title">Ionic4 Boilerplate</h3>

  <p>create by <a href="https://yipeng.info/">pengkobe</a> .</p>
  <ion-menu-button secondary>{{ 'HOME.Toggle' | translate }}</ion-menu-button>

  <ion-button secondary (click)="testCache()" [appTrackEventDirective] 
    [trackParams]="{ evtName:'GetRandomNumber',parames: {cahceData:cacheData}}"> {{ 'HOME.GetRandomNumber' | translate }} </ion-button>
  <span> {{ cacheData }}</span>
</ion-content>