<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'HOME.Test' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 (click)="open()">
        <ion-item>
          <ion-label> {{ 'HOME.Scan' | translate }}</ion-label>
          <ion-icon name="qr-scanner" item-start color="primary"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-icon name="bulb" item-start color="primary"></ion-icon>
          <ion-label> {{ 'HOME.ScreenAlwaysLight' | translate }} </ion-label>
          <ion-toggle (ionChange)="changeLightState()" color="secondary" [(ngModel)]="isAlwaysLight"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-icon name="keypad" item-start color="primary"></ion-icon>
          <ion-label>{{ 'HOME.SwitchLanguage' | translate }}</ion-label>
          <ion-select [(ngModel)]="languageType" (ngModelChange)="setLanguageType($event)" cancelText="{{ 'HOME.Cancel' | translate }}"
            okText="{{ 'HOME.confirm' | translate }}">
            <ion-select-option value="zh" selected="true">中文</ion-select-option>
            <ion-select-option value="en"> English </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-icon name="moon" item-start color="primary"></ion-icon>
          <ion-label>{{ 'HOME.Theme' | translate }}</ion-label>
          <ion-toggle (ionChange)="toggleAppTheme()" color="secondary"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-content>
            {{ versionNumber }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>