<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'HOME.List' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item
      ion-item
      *ngFor="let item of items"
      routerLink="{{'./'+  item.title }}"
      routerLinkActive="active"
    >
      <ion-icon [name]="item.icon" item-start></ion-icon>
      <ion-label>{{ item.title }}</ion-label>
      <div class="item-note" item-end>{{ item.note }}</div>
    </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{ selectedItem.title }}</b>
  </div>
</ion-content>
